body {background: #EEEEEE;
color: #191825;
font-family: 'Lora', serif;
font-size: 20px;
font-weight: lighter	} 



h1, h2, h3, h5 { 
font-family: 'Roboto', sans-serif;

}

h1 {color: #2B3467;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
}
h2 {color: rgb(100, 100, 100);
	font-size: 32px;
	font-weight: 250;
}
h3{color: rgb(100, 100, 100);
	font-size: 32px;
	font-weight: 250;
}

h4 {color: rgb(100, 100, 100);
	font-size: 32px;
	font-weight: 250;
}

h5 {
	color: rgb(100, 100, 100);
	font-size: 32px;
	font-weight: 250;
	text-align: center; 
 }


a {
	text-decoration: none;
	font-weight: bolder;
	color: #2E4F4F;
}
a: hover {
	color: black;
}
.car {
	background: #F1F6F5;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0 0.2);
    border-radius: 8px;
	text-align: center
	}

.img {
	width: 350px;
	border-radius: 5%;
}

.car1 {
	width: 700px;
	margin: 40px auto;
	
}


@media (max-width: 760px) {
	.car1 {
		width: 600px;
	}
}

@media (max-width: 500px) { 
	.car1 {
		width: 400px;
	} 
}

.car2 {
	background: #F1F6F5;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0 0.2);
    border-radius: 8px;
    text-align: left;
	}
}

.list-inline {
	list-style-type: none;
}